.panel-heading {
  /*background: linear-gradient(#2269A6, #004784);*/
}
.panel-body {
  /*background: linear-gradient(to bottom right, #07074b 0%, #00ffff 200%)';*/
  background-image: url(https://cdn.apixu.com/apixu-weather-widget/img/apixu-backgrounds/4_widget3.png);
  color: white; 
}

#city {
  background: linear-gradient(#004784, #2269A6 10%);
  color: #FFF;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

#widget {
  box-shadow: 0 3px 10px #222;
  position: relative;
  text-align:center;
  /*margin-top: 25vmin;*/
  padding: auto;
  margin: auto; 
}

#unit {
  color: #337AB7;
  cursor: pointer;
}
